$background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
$Scissors-Gradient: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
$Paper-Gradient: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
$Rock-Gradient: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
$Lizard-Gradient: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
$Cyan: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
$Dark-Text: hsl(229, 25%, 31%);
$Score-Text: hsl(229, 64%, 46%);
$Header-Outline: hsl(217, 16%, 45%);
$text-width: 4rem;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: $background;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.header {
  display: flex;
  margin: 0 auto;
  border: 2px solid $Header-Outline;
  border-radius: 20px;
  height: 20%;
  width: 80%;
  margin-top: 10%;
  justify-content: space-between;
  img {
    width: 40%;
    padding: 5%;
  }
}
.score-card {
  background-color: whitesmoke;
  margin: 5%;
  border-radius: 10px;
  width: $text-width;
  height: $text-width;
  .score-title {
    margin-top: 15%;
    text-align: center;
    font-size: 0.6rem;
  }
  .score-value {
    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
    color: $Dark-Text;
  }
}
